/* styles.css */

/* Estilos generales */
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #ffffff; /* Fondo blanco */
    color: #333333; /* Texto gris oscuro */
}

h1, h2, h3 {
    color: #3b163b; /* Color para los encabezados */
}

a {
    color: #3b163b; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
}

a:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}

/* Agregar más estilos según sea necesario */

/* Cambiar el color de fondo de la barra de navegación */
.navbar {
    background-color: #3b163b; /* Cambia este valor al color que prefieras */
}

/* Cambiar el color del texto en la barra de navegación */
.navbar .navbar-brand, .navbar .navbar-nav .nav-link {
    color: white !important; /* Cambia a otro color si es necesario */
}

/* Cambiar el color al pasar el mouse sobre los enlaces de la barra de navegación */
.navbar .navbar-nav .nav-link:hover {
    color: #8f4abd !important; /* Cambia al color que prefieras */
}

.listing-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .listing-item img {
    width: 100px; /* Ajusta el tamaño de las imágenes */
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
  }
  
  .listing-item .listing-content {
    max-width: 600px;
  }
  
  .listing-item h2 {
    font-size: 1.2em;
    margin: 0;
  }



/* Centrado y ajuste de las imágenes */
img {
    max-width: 100%; /* Asegura que las imágenes no excedan el contenedor */
    height: auto;
    margin: 0 auto; /* Centra las imágenes */
  }
  
  /* Alineación de secciones en dos columnas */
  .two-columns {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  /* Ajuste de ancho para imágenes y texto en dos columnas */
  .two-columns img {
    width: 40%; /* Ajusta el tamaño según sea necesario */
  }
  
  .two-columns div {
    flex: 1; /* Permite que el texto ocupe el espacio restante */
  }
  
  /* Formato para las secciones en tres partes */
  .three-columns {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
  }
  
  .three-columns div {
    width: 30%; /* Ajusta el tamaño según sea necesario */
  }
  
  /* Centrando el contenido */
  .centered {
    text-align: center;
    font-weight: bold;
  }